<nav
  id="navbar"
  class="fixed top-[80px] flex w-9/12 flex-col items-center text-lg z-20 backdrop-blur-sm h-[60px]"
>
  <ul class="flex flex-row gap-x-10 p-3">
    <li
      class="relative flex justify-center hover:text-red-500 duration-500 cursor-pointer"
    >
      <a href="/">Inicio</a>
    </li>
    <li
      class="relative flex justify-center hover:text-red-500 duration-500 cursor-pointer"
    >
      <a href="biografy">Biografia</a>
    </li>
    <li
      class="relative flex justify-center hover:text-red-500 duration-500 cursor-pointer"
    >
      <a href="galery">Galeria</a>
    </li>
    <li
      class="relative flex justify-center hover:text-red-500 duration-500 cursor-pointer"
    >
      <a href="otrasObras">Otras Obras</a>
    </li>
  </ul>
</nav>
